* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


.Loop {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  -webkit-overflow-scrolling: touch;
}

.Loop::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  text-align: center;
  min-height: 30vh;
  max-height: 70vh;
  height: 80vh;
}

::scrollbar {
  display: none;
}

.ideate {
  background: #006630;
}

.create {
  background: #ac2020;
}
.showcase {
  background: #000000;
}

.header {
  font-size: 11%;
}

.text {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
  font-family: "Avenir Next", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 100vw;
}

#container {
  left: 0px;
  top: -100px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#animate {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}
